.additional-features {
  margin-bottom: 170px;
  padding: 0 123px;

  &__title {
    color: $dark;
    font-size: 56px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__inner {
    background-color: #d6ecec;
    padding: 60px 306px 60px 102px;
    position: relative;
  }

  &__inner-img {
    width: calc(100% * 540 / 1200);
    height: auto;
    position: absolute;
    right: 46px;
    bottom: 0;
  }

  &__characteristics {
    display: grid;
    grid-template-columns: repeat(2, 378px);
    grid-template-rows: repeat(2, 1fr);
    gap: 56px 132px;
  }
}

.extra-feature {
  &__title {
    color: #0c797a;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__item {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $dark;
    list-style-position: inside;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.pagination {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .additional-features {
    margin-bottom: 140px;
    padding: 0 34px;
    box-sizing: border-box;

    &__title {
      font-size: 30px;
      line-height: 40px;
    }

    &__inner {
      padding: 60px 0 123px 90px;

      &-img {
        right: 7px;
        width: 57%;
      }
    }

    &__characteristics {
      display: flex;
      gap: 0;
      overflow: hidden;
      width: 260px;
    }
  }

  .extra-feature {
    width: 100%;
    flex-shrink: 0;

    &__title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    &__item {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding-top: 50px;

    &__switches {
      margin-bottom: 8px;
    }

    &__number {
      font-weight: 400;
    }

    &__number--1 {
      font-size: 16px;
      line-height: 24px;

      &::after {
        content: '/';
        color: #0c797a;
        margin-left: 3px;
      }
    }

    &__number--2 {
      font-size: 11px;
      color: #0c797a;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .additional-features {
    margin-bottom: 90px;
    padding: 0;
    position: relative;

    &__title {
      font-size: 30px;
      line-height: 40px;
      padding: 0 30px;
    }

    &__inner {
      padding: 35px 30px 0;

      &-img {
        position: relative;
        right: auto;
        width: 100vw;
        left: -30px;
      }
    }

    &__characteristics {
      display: flex;
      gap: 0;
      overflow: hidden;
      width: 260px;
    }
  }

  .extra-feature {
    width: 100%;
    flex-shrink: 0;

    &__title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    &__item {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding-top: 50px;

    &__switches {
      margin-bottom: 8px;
    }

    &__number {
      font-weight: 400;
    }

    &__number--1 {
      font-size: 16px;
      line-height: 24px;

      &::after {
        content: '/';
        color: #0c797a;
        margin-left: 3px;
      }
    }

    &__number--2 {
      font-size: 11px;
      color: #0c797a;
    }
  }
}
