.director {
  padding: 0 123px;
  max-width: 786px;
  margin: 0 auto 170px;
  text-align: center;
  position: relative;

  &__message {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: $dark;
    margin-bottom: 30px;
  }

  &__image {
    margin-bottom: 20px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 700;
    color: $dark;
    font-size: 16px;
    line-height: 22px;
  }

  &__pos {
    color: #7c7c7c;
    font-size: 14px;
    line-height: 31px;
    font-weight: 400;
  }
}

.quotes {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .director {
    padding: 0 34px;
    margin-bottom: 140px;
  }

  .quotes {
    top: -55px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .director {
    padding: 0 30px;
    margin-bottom: 110px;

    &__message {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .quotes {
    top: -55px;
  }
}
