.features {
  padding: 0 123px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
  margin-bottom: 170px;
}

.feature {
  text-align: center;
  width: 276px;

  &__image {
    width: 70px;
    height: 50px;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: $dark;
    margin-bottom: 24px;
    text-transform: uppercase;
    height: 56px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .features {
    padding: 0 34px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 65px 20px;
    margin-bottom: 140px;
  }

  .feature {
    width: auto;

    &__image {
      margin-bottom: 45px;
    }

    &__title {
      margin-bottom: 20px;
      height: auto;
    }
  }

  .feature--1 .feature__image {
    width: 50px;
    height: 40px;
  }

  .feature--2 .feature__image {
    width: 46px;
    height: 40px;
  }

  .feature--3 .feature__image {
    width: 46px;
    height: 37px;
  }

  .feature--4 .feature__image {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .features {
    padding: 0 30px;
    margin-bottom: 110px;
  }

  .feature {
    width: auto;

    &__image {
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 20px;
      height: auto;
    }
  }

  .feature--2,
  .feature--3,
  .feature--4 {
    display: none;
  }

  .feature--1 .feature__image {
    width: 50px;
    height: 40px;
  }

  .feature--2 .feature__image {
    width: 46px;
    height: 40px;
  }

  .feature--3 .feature__image {
    width: 46px;
    height: 37px;
  }

  .feature--4 .feature__image {
    width: 44px;
    height: 44px;
  }
}
