.footer {
  padding: 0 123px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &__logo {
    background: url('../images/logo.svg') center/cover no-repeat;
    width: 161px;
    height: 26px;
    margin-bottom: 60px;
  }

  &__up {
    position: absolute;
    right: 125px;
    top: 0;
    width: 24px;
    height: 20px;
    background: url('../images/arrow-up.svg') center/contain no-repeat;
  }

  &__socials {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &__copyrights {
    color: #bdbdbd;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer {
    padding: 0 34px 30px;

    &__up {
      right: 50px;
    }

    &__socials {
      gap: 50px;
    }
  }

  .facebook,
  .twitter,
  .instagram {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: 0 30px 20px;

    &__logo,
    &__up {
      display: none;
    }

    &__socials {
      gap: 40px;
      margin-bottom: 30px;
    }

    &__copyrights {
      text-align: center;
    }
  }

  .facebook,
  .twitter,
  .instagram {
    width: 24px;
    height: 24px;
  }
}
