.meet-luna {
  padding: 0 123px;
  margin: 0 auto 170px;
  width: 846px;
  height: 520px;
  background: url('../images/meet-luna.jpg') center/cover no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .meet-luna {
    width: 100%;
    height: auto;
    margin: 0 0 140px;
    aspect-ratio: 700 / 430;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .meet-luna {
    width: 100%;
    height: auto;
    margin: 0 0 110px;
    padding: 0 12px;
    aspect-ratio: 700 / 430;
  }
}
