.questions {
  padding: 0 123px;
  margin-bottom: 170px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 70px;

  &__title {
    color: $dark;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    width: calc(50% - 15px);
  }
}

.form {
  width: calc(50% - 15px);

  &__email,
  &__textarea {
    width: 100%;
    border: 1px solid #828282;
    outline: none;
    color: #bdbdbd;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    box-sizing: border-box;
    background-color: transparent;

    &::placeholder {
      color: #bdbdbd;
    }
  }

  &__email {
    padding: 12px 36px;
    margin-bottom: 19px;
  }

  &__textarea {
    padding: 16px 36px;
    margin-bottom: 30px;
    height: 128px;
  }

  &__submit {
    color: white;
    padding: 17px 42px;
    background-color: #0db2b3;
    text-transform: uppercase;
    border: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .questions {
    padding: 0 34px;
    margin-bottom: 140px;
    gap: 20px;

    &__title {
      font-size: 36px;
      line-height: 46px;
    }
  }

  .form {
    &__textarea {
      min-height: 200px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .questions {
    padding: 0 34px;
    margin-bottom: 110px;
    flex-direction: column;
    gap: 27px;

    &__title {
      font-size: 30px;
      line-height: 40px;
      width: 100%;
    }
  }

  .form {
    width: 100%;

    &__email {
      width: 100%;
    }

    &__textarea {
      min-height: 200px;
      width: 100%;
    }
  }
}
